* {
  margin: 0;
  padding: 0;
  border: none;
  /* border: 1px solid red; */
}
/* root */
:root {
  --primary-color: #0a6ebf;
  --secondary-color: #fff;
  /* text-color */
  --text-blue: #0a6ebf;
  --text-white: #fff;
  /* background */
  --background: #e1effd;
  /* border */
  --button-border: #0a6ebf;
  --li-border: #bddefa;
  /* hover */
  --text-hover: ;
}
/* general css */
body {
  background: var(--primary-color);
}
section {
  height: fit-content;
}
li a {
  font-size: 16px !important;
  color: var(--text-blue) !important;
}
.navbar-brand {
  background: var(--primary-color);
  color: var(--secondary-color);
  transition: all 0.5;
}
.navbar-brand:hover {
  color: var(--secondary-color);
}
i {
  color: var(--primary-color);
}
/* 1e style  */
.style-1 button,
.style-2 button {
  background: none;
  color: var(--text-blue);
}
/* 1e style exit  */
/* 2e style  */
.style-2 .navbar {
  font-size: 12px;
  padding: 0;
}
.style-2 li a,
.style-2 .user-area button {
  font-size: 12px !important;
  font-weight: 500;
}
.second-nav {
  background: #fff;
  border-top: 1px solid var(--button-border);
}
.second-nav button {
  background: var(--primary-color);
  color: var(--text-white);
  /* border-radius: 5px; */
}
@media screen and (max-width: 770px) {
  .style-2 .navbar {
    padding: 10px 0px;
  }
  .second-nav {
    display: none;
  }
  .style-2 .navbar-brand {
    display: block !important;
  }
  .user-area i {
    display: none;
  }
}
/* 2e style exit  */
/* 3e style */
.style-3 .user-area i {
  background: var(--background);
  border: 3px solid var(--li-border);
  border-radius: 50%;
  padding: 3px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.user-area span {
  font-size: 8px;
  padding: 4px;
  border-radius: 50%;
  background: var(--primary-color);
  color: var(--text-white);
  position: absolute;
  top: -6px;
  right: 0px;
}
.style-3 li a:hover,
.style-3 li a.active,
.style-4 li a:hover,
.style-4 li a.active {
  border-bottom: 2px solid var(--button-border);
}
/* 3e style exit */
